//@import '~@fluentui/react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/_References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.pnpwp {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.controls{
  width: 100%;
  .dropdown{
    width:50% !important;
    margin-left: 150px;
  }
  
  .mybutton{
    margin-left: 50px;
    border-radius: 15px !important;
    margin-top:20px;
    padding: 10px;
  }
  
  .myStatusBar{
    background-color:cadetblue;
    margin-top: 20px;
    text-align: center;
  }
}

.row{
  background-color: lightcyan;
  padding: 20px;
  }
  
  .column{
  width:100% !important;
  }

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}